html, body {
    height: 100%;
}

body {
    font-family: Inter, sans-serif;
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

body.no-scroll {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -3%;

}

.header-wrapper {
    position: relative;
    z-index: 1;
}

.bg {
    width: 100% ;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .header-wrapper::after {
    content: '';
    position: absolute;
    background: url('../img/header.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
   
    inset: 0;
    top: 0;
    left: 0;
    z-index: -1;
} */

.header-main {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px 0;
}

.header {
    position: relative;
    z-index: 10;
}

.header-logo-link {
    width: 170px;
    height: 30px;
    display: block;
}



.header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
}



.header-contacts {
    margin-left: 50px;
}

.header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}

.header-tel:hover {
    opacity: 0.7;
}

.lang {
    
    background: none;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    transition:  .3s;
}

.lang:hover {
    opacity: 0.8;
}

.lang.active {
    color: rgba(255, 255, 255, 0.4);
    cursor: auto;
    pointer-events: none;
}

.search-btn {
    background: none;
    border: none; 
}

.search-btn svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transition: .3s;
}

.search-btn:hover svg {
    opacity: 0.8;
}

.burger {
    position: relative;
    width: 40px;
    height: 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    padding: 0 0 0 15px;
    cursor: pointer;
}

/* .burger::before {
    content: '';
    width: 1px;
    height: 75px;
    background: #FFFFFF26;
    position: absolute;
    display: block;
    left: 0;
    top: -33px;

} */

.burger span {
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    flex-shrink: 0;
    transition: 0.3s;
}



/* Анимация в крестик */
.burger.active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.burger.active span:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
}

.mobile-menu {
    position: fixed;
    top: 90px;
    left: 0; 
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    padding: 50px 20px;
    transform: translateX(100%);
    transition: 0.3s ease;
    z-index: 9999;

    overflow-y: auto; 
    scrollbar-width: none;

    -ms-overflow-style: none;
}

@media screen and (max-width: 550px) {
    .mobile-menu {
        top: 80px;
    }
} 

.mobile-menu::after {
    content: '';
    position: fixed;
    left: 0;
    width: 100%;
    height: 270px;
    background: url('../img/word.svg') no-repeat bottom center;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
}

.mobile-menu::-webkit-scrollbar {
    display: none;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 25px; 
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-list-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mobile-list a,
.mobile-list-right a {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

.mobile-list a:hover,
.mobile-list-right a:hover {
    opacity: 0.7;
}

.mobile-nav-left p,
.mobile-nav-right p {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 32px;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 0;
}

.header-item-block {
    display: flex;
    align-items: center;
    padding: 0 25px;
    position: relative;
}

/* линия справа */
.header-item-block:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 87px;
    background: rgba(255,255,255,0.3); /* подстрой под дизайн */
}

.header--black {
    background: rgba(0, 0, 0, 1);
}


.hero {
    overflow: hidden;
}

.hero-wrapper {
    padding: 100px 0 330px;
}

.hero-title {
    font-size: 48px;
    margin: 0 0 24px;
}

.hero-title-mobile {
    display: none;
}

.span {
    display: none;
}

.hero-text {
    max-width: 375px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 170px;
}

.hero-btn {
    background: rgba(225, 37, 27, 1);
    max-width: 220px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}

.hero-btn:hover {
    opacity: 0.8;
}





.garant {
    margin-top: -100px;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.garant::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 500px;
    background: url(../img/gar-bg.png) no-repeat center;
    background-size: contain;
    z-index: 0;
    filter: blur(35px);
    pointer-events: none;
    display: none;
}

.garant-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.garant-title {
    margin-bottom: 48px;
}

.garant-sub {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 24px;
}

.garant-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    max-width: 476px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.garant-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}

.garant-item img {
    width: auto;
    height: auto;
    margin-bottom: 18px;
}

.garant-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}


.scroll {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.scroll::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/scroll-bg.png) no-repeat top;
    background-size: contain;
    z-index: 0;
    filter: blur(35px);
    pointer-events: none;
}


.way {
    overflow: hidden;
    padding: 60px 0;
}

.way-small {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 0 32px;
    padding-left: 20px;
}

.way-small::before {
    content: '';
    width: 7px;
    height: 7px;
    background: rgba(225, 37, 27, 1);
    position: absolute;
    top: 10px;
    left: 0;
}

.way-top {
    margin-bottom: 56px;
}

.way-title {
    margin: 0;
}

.way-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    max-width: 526px;
    margin: 0 0 0 auto;
}

.way-card {
    display: block;
    position: relative;
    border: 1px solid rgba(55, 55, 55, 1);
    background: rgba(255, 255, 255, 0.05);
    padding: 32px 32px 0;
    min-height: 380px;
    overflow: hidden;
}

.way-card::after {
    content: '';
    width: 7px;
    height: 7px;
    background: rgba(225, 37, 27, 1);
    position: absolute;
    top: 0px;
    right: 0;
}

.way-card:hover .way-img {
    transform: scale(1.05);
}

.way-card h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -3%;
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

.way-img {
    transition: .3s;
}

.img-1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 300px;
}

.img-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 300px;
}

.img-3 {
    position: absolute;
    right: 0;
    
    width: 320px;
    height: 300px;
}

.numbers {
    overflow: hidden;
    padding: 60px 0;
    position: relative;
}

.numbers-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(100px);
}

.numbers-bg img {
    object-fit: fill;
}

.numbers-item {
    position: relative;
    border: 1px solid rgba(55, 55, 55, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    min-height: 325px;
}

.numbers-item::after {
    content: '';
    width: 7px;
    height: 7px;
    background: rgba(225, 37, 27, 1);
    position: absolute;
    top: 0px;
    left: 0;
}

.border-top {
    border-top: none !important;
}

.border-left {
    border-left: none !important;
}

.numbers-num {
    font-weight: 300;
    font-style: Light;
    font-size: 80px;
    line-height: 120%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

.numbers-sub {
    font-weight: 300;
    font-style: Light;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

.numbers-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.numbers-img {
    position: absolute;
    bottom: -80px;
    width: 620px;
    height: 490px;
    left: 55%;
}


.reviews-line {
    overflow: hidden;
    padding: 80px 0 60px;
}

.reviews-line-title {
    text-align: center;
    margin: 0 0 40px;
}


.marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-track {
    display: flex;
    width: max-content;
    will-change: transform;
}

.marquee-group {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
}

.marquee img {
    width: 220px;
    height: 40px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 0.6;
}


.reviews-line-link {
    display: flex;
    justify-content: center;
    margin: 50px auto 0;
    max-width: 225px;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    background: rgba(45, 45, 45, 1);
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}

.reviews-line-link:hover {
    background: rgba(225, 37, 27, 1);
}


.news-main {
    overflow: hidden;
    padding: 80px 0 60px;
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.news-main-header {
    margin-bottom: 60px;
}

.news-main-title {
    margin: 0;
}

.news-main-all {
    display: flex;
    justify-content: center;
    max-width: 225px;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    background: rgba(45, 45, 45, 1);
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}

.news-main-all:hover {
    background: rgba(225, 37, 27, 1);
}

.news-main-card--big .news-main-img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 750/512;
    border: 1px solid rgba(55, 55, 55, 1);
    filter: grayscale(100%);
    transition: .3s;
}

.news-main-card.news-main-card--big:hover .news-main-img {
    filter: grayscale(0%);
}

.news-main-meta {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 32px;
}

.news-main-card--big .news-main-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 16px;
}

.news-main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    max-width: 475px;
}

.news-main-list {
    gap: 40px;
}

.news-main-card--small .news-main-img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 416/245;
    filter: grayscale(100%);
    transition: .3s;
}

.news-main-card--small:hover .news-main-img {
    filter: grayscale(0%);
}

.news-main-card--small .news-main-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

.about-main {
    overflow: hidden;
    position: relative;
    padding: 120px 0 60px;
    margin-top: 60px;
}

.about-main-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(180deg);
}

.about-main-top {
    margin-bottom: 56px;
}

.about-main-title {
    color: rgba(177, 177, 177, 1);
    margin: 0;
}

.about-main-title strong {
    color: rgba(255, 255, 255, 1);
}

.about-main-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.about-main-big {
    max-width: 100%;
    height: auto;
    aspect-ratio: 636/547;
}

.about-main-img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 526/322;
    
}

.about-main-card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 40px;
}

.about-main-card a {
    display: flex;
    justify-content: center;
    max-width: 170px;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    background: rgba(45, 45, 45, 1);
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}

.about-main-card a:hover {
    background: rgba(225, 37, 27, 1);
}





.form-main {
    overflow: hidden;
    padding: 60px 0;
}

.form-main-top {
    margin-bottom: 50px;
}

.form-main-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.form-main-subtitle {
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: -3%;
    margin: 0 0 24px;
}


.form-input,
.form-textarea,
.select-head {
  width: 100%;
  background: rgba(26, 26, 26, 1);
  border: none;
  padding: 16px;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  outline: none;
  margin-bottom: 10px;
}

/* placeholder */
.form-input::placeholder,
.form-textarea::placeholder,
.select-head {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.6);

}



/* textarea */
.form-textarea {
  height: 56px;
  resize: none;
  overflow: hidden;
  margin: 0;
}


.custom-select {
    position: relative;
    /* margin-bottom: 10px; */
  }
  
  .select-head {
    cursor: pointer;
    position: relative;
    padding-right: 45px;
  }
  
  /* стрелка */
  .select-head::after {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: translateY(-50%) rotate(45deg);
    transition: 0.3s;
  }
  
  /* переворот стрелки */
  .custom-select.active .select-head::after {
    transform: translateY(-50%) rotate(-135deg);
  }
  
  /* список */
  .select-list {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: rgba(26, 26, 26, 1);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    z-index: 10;
  }
  
  .custom-select.active .select-list {
    display: block;
  }
  
  .select-item {
    padding: 14px 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .select-item:hover {
    background: rgba(255, 255, 255, 0.08);
  }

  .form-main-btn {
    max-width: 100%;
    width: 100%;
    background: rgba(225, 37, 27, 1);
    padding: 18px;
    display: flex;
    justify-content: center;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    color: rgba(255, 255, 255, 1);
    margin: 3px 0 20px;
    transition: .3s;
  }

  .form-main-btn:hover {
    opacity: 0.8;
  }

  .form-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .form-checkbox span {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.6);
  }

  .form-checkbox input {
    width: 18px;
    height: 20px;
  }

  .form-checkbox a {
    display: inline-block;
    transition: .3s;
    text-decoration: underline;
  }

  .form-checkbox a:hover {
    opacity: 0.7;
  }

  .body-lab .form-textarea {
    height: 125px;
  }

.body-lab .form-main {
    margin-top: 60px;
    padding-top: 90px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


.footer {
    padding: 50px 0 0;
    margin: 50px 0 0;
    position: relative;
    /* overflow: hidden; */
    border-top: 1px solid rgba(51, 51, 51, 1);
}


.footer-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -3%;
    margin: 0 0 32px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-list a {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    transition: .3s;
}

.footer-list a:hover {
    opacity: 0.8;
}

.footer-address {
    margin-bottom: 32px;
}

.footer-address p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -3%;
    margin: 0 0 16px;
}

.footer-address a {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: rgba(255, 255, 255, 0.8);
    transition: .3s;
}

.footer-address a:hover {
    opacity: 0.8;
}

.footer-phones {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.footer-phones a {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 0.8);
    transition: .3s;
}

.footer-phones a:hover {
    opacity: 0.8;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 64px;
}

.footer-socials a {
    display: flex;
}

.footer-socials a img {
    transition: .3s;
}

.footer-socials img {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.footer-socials a:hover img {
    opacity: 0.8;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-links a {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    transition: .3s;
}

.footer-links a:hover {
    opacity: 0.8;
}


.footer-grid {
    margin-bottom: 130px;
}

.footer-bottom {
    padding-bottom: 30px;
}

.footer-bottom a {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    transition: .3s;
}

.footer-bottom a:hover {
    opacity: 0.8;
}

.doctor {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: auto;
}

.doctor img {
    width: 35px;
    height: 27px;
    flex-shrink: 0;
}

.footer-bg {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.footer-bg img {
    object-fit: contain;
}



.scroll-section {
    position: relative;
    overflow: hidden;
    padding: 80px 0 60px;
    margin-bottom: 60px;
}

.scroll-section-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
.wheel {
    height: 500px;
    overflow: hidden;
}
  
.track {
    display: flex;
    flex-direction: column;
    will-change: transform;
}
  
.wheel-item {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    color: rgba(255,255,255,0.3);
  
    transition: 0.3s;
}
  
.wheel-item.active {
    font-size: 48px;
    color: #fff;
    transform: scale(1.05);
}

.wheel-mobile {
    display: none;
}

.breadcrumbs .container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.breadcrumbs a {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs span {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.section-title {
    padding: 25px 0;
    display: none;
}

.section-title p {
    font-weight: 500;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: -3%;
    margin: 0;
}



.a-hero {
    padding: 25px 0 60px;
    overflow: hidden;
}

.a-hero-bg {
    display: none;
}

.a-hero-title {
    font-size: 72px;
    line-height: 110.00000000000001%;
    letter-spacing: -5%;
    text-align: center;
    background: linear-gradient(165.85deg, #FFFFFF 23.88%, #999999 90.93%);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
    margin: 0 0 43px;
}


.a-hero-image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1440/556;
}


.chtat {
    overflow: hidden;
    padding: 50px 0;
}

.chtat-title {
    background: linear-gradient(165.85deg, #FFFFFF 23.88%, #999999 90.93%);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 24px;
}

.chtat-intro {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 48px;
}

.chtat-photo {
    max-width: 100%;
    height: auto;
    aspect-ratio: 526/580;
    margin-bottom: 32px;
}

.chtat-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 12px;
}

.chtat-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.chtat-text {
    padding: 45px 0 0 23px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.chtat-text-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 580px;
}

.chtat-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.manager {
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.manager-slider {
    display: flex;
}

.manager-slider .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.manager-slider .swiper-slide {
    display: flex;
    flex-direction: column;
}

.manager-slider .swiper-slide img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 420/490;
    margin-bottom: 32px;
}

.manager-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 12px;
}

.manager-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 24px;
}

.manager-quote {
    
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.6);
    margin: auto 0 0;
    padding-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}





.mission {
    position: relative;
    z-index: 2;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.mission::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.mission-bg {
    position: absolute;
    top: -420px;
    height: calc(100% + 300px);
    z-index: 0;
    width: 100%;
}

.mission-bg img {
    object-fit: cover;
    height: 120%;
}

.mission-wrapper {
    position: relative;
}

.mission-content {
    max-width: 475px;
    margin-left: auto;   
    margin-right: 50px;
    position: relative;
    top: 170px;
}

.mission-title {
    margin: 0 0 24px;
}

.mission-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.mission-image {
    position: relative;
    top: -50px;
    width: 900px;
    height: 700px;
    left: 150px;
}

.mission-mobile {
    display: none;
}

.gold {
    padding: 50px 0;
}

.gold .numbers-item {
    justify-content: end;
}

.gold-title {
    background: linear-gradient(180.85deg, #FFFFFF 23.88%, #999999 90.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0 0 40px;
}

/* .gold--two {
    position: relative;
    overflow: hidden;
}

.gold--two::after {
    content: '';
    background: url(../img/ellipse.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 1820px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
} */


.principles {
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 100px 0 0;
    position: relative;
  }

.principles-title {
    background: linear-gradient(180.85deg, #FFFFFF 23.88%, #999999 90.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
}
  
  .principles-list {
    position: relative;
    height: 720px; /* фиксируем окно */
    overflow: hidden;
  }
  
  .principles-item {
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -3%;

  }

  .principles-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    filter: blur(50px);
  }

  .principles-bg {
    object-fit: fill;
  }

.center {
    margin-top: -200px;
    overflow: hidden;
    padding-bottom: 60px;
}

.center-top {
    margin-bottom: 56px;
}

.center-title {
    background: linear-gradient(180.85deg, #FFFFFF 23.88%, #999999 90.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
}

.center-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.center-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.center-link {
    position: relative;
    z-index: 5;
    max-width: 175px;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    background: rgba(45, 45, 45, 1);
    color: rgba(255, 255, 255, 1);
    transition: .3s;
    display: flex;
    justify-content: center;
}

.center-link:hover {
    background: rgba(225, 37, 27, 1);
}



.center-slider {
    width: 100%;
    overflow: visible;
}
  
.center-slider .swiper-slide {
    width: auto;
    position: relative;
    z-index: 5;
    cursor: pointer;
} 
  
.swiper-wrapper {
    align-items: flex-start;
}


.force {
    padding: 60px 0;
}

.force-title {
    background: linear-gradient(180.85deg, #FFFFFF 23.88%, #999999 90.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0 0 40px;
}

.force .numbers-item {
    min-height: auto;
    height: 100%;
}

.force .numbers-num {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 24px;
}

.force .numbers-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: rgba(255, 255, 255, 0.6);
    margin: 0;
}

.pik {
    margin-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.pik-title {
    margin: 0 0 32px;
}

.pik-row {
    position: relative;
}

.pik-row::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 850px;
    background: rgba(255, 255, 255, 0.2);
}

.pik-left {
    padding: 100px 55px 70px 0px;
}

.pik-image {
    max-width: 100%;
    height: auto;
    aspect-ratio: 640/250;
}

.pik-right {
    padding: 105px 0px 100px 60px;
}

.pik-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;
    margin: 0 0 24px;
}

.pik-btn {
    max-width: 100%;
    width: 100%;
    background: rgba(225, 37, 27, 1);
    padding: 18px;
    display: flex;
    justify-content: center;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    color: rgba(255, 255, 255, 1);
    margin: 3px 0 20px;
    transition: .3s;
}

.pik-checkbox {
    display: flex;
    align-items: start;
    gap: 10px;
}

.pik-checkbox span {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.6);
}

.pik-checkbox input {
    width: 18px;
    height: 20px;
    flex-shrink: 0;
}

.body-about .footer {
    margin-top: 0;
}


.body-news .news-main {
    border-top: none;
    margin-top: 0;
    padding: 30px 0 50px;
}

.news-item.is-hidden {
    display: none;
}

.another-news {
    padding: 0 0 60px;
}

.another-news .news-main-title {
    margin: 0 0 16px;
}

.another-news-btn {
    display: flex;
    justify-content: center;
    margin: 50px auto 0;
    max-width: 225px;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -1%;
    background: rgba(45, 45, 45, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    width: 100%;
    transition: .3s;
}

.another-news-btn:hover {
    background: rgba(225, 37, 27, 1);
}

.body-lab .hero {
    position: relative;
}

.body-lab .hero-wrapper {
    padding: 80px 0 40px;
}

.body-lab .hero-title {
    display: block !important;
    font-size: 72px;
    line-height: 110.00000000000001%;
    letter-spacing: -5%;
    margin: 0 0 24px;
}

.body-lab .hero-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -5%;
    color: rgba(255, 255, 255, 0.8);
    max-width: 100%;
    margin: 0 0 32px;
}

.body-lab .hero-bg {
    position: absolute;
    width: 760px;
    height: 800px;
    top: -40px;
    right: 0;
    z-index: -1;
}

.body-lab .hero-bg img {
    object-fit: contain;
}

.hero-list {
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    margin-bottom: 70px;
}

.hero-list li {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);

}

.body-lab .bg {
    height: 100%;
}


.body-lab  .about-main {
    margin-top: 0;
    padding: 60px 0;
}

.body-lab .about-main-title {
    margin: 0 0 120px;
    color: rgba(177, 177, 177, 1);
}

.body-lab .about-main-title span {
    color: rgba(255, 255, 255, 1);
}

.body-lab .about-main-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 60px;
}

.body-lab .about-main-left p:first-child {
    font-size: 20px;
}

.body-lab .about-main-left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.body-lab .about-main-img {
    margin-bottom: 32px;
}


.body-lab .about-main-bottom-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
}


.contacts {
    padding: 25px 0 50px;
}

.contacts-title {
    font-size: 72px;
    margin-bottom: 48px;
}

.contacts-regim {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -3%;
    margin: 0 0 24px;
}

.contacts-day {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 5px;
}

.contacts-time {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.contacts-left {
    display: flex;
    flex-direction: column;
}

.contacts-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -3%;
    margin: 0 0 24px;
}

.contacts-link {
    width: 135px;
    height: 55px;
}

.contacts-right {
    max-width: 100%;
    height: auto;
    aspect-ratio: 900/480;
}

.section-h1 {
    margin: 0;
    font-size: 42px;
}


@media screen and (max-width: 1700px) {

    /* .bg {
        width: 1700px;
    } */


    .hero-wrapper {
        padding: 100px 0 250px;
    }
}

@media screen and (max-width: 1400px) {
    .chtat-text-bg {
        height: 497px;
    }

    .chtat-text p {
        font-size: 16px;
    }

    .mission-image {
        left: -45px;
    }

    .principles-item {
        font-size: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .header-logo-link {
        width: 130px;
        height: 23px;
    }

    .mission-bg img {
        
        height: 100%;
    }

    .mission-bg {
        top: -200px;
        
    }

    .mission-image {
        width: 700px;
        height: 500px;
        left: 50px;
    } 

    .mission::after {
        bottom: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .numbers-item {
        padding: 20px;
        min-height: 200px;
    }

    .numbers-num {
        font-size: 40px;
    }

    .numbers-sub {
        font-size: 20px;
    }

    .numbers-text {
        font-size: 16px;
    }

    .border-top {
        display: none;
    }
    
    .border-left {
        display: none;
    }

    .numbers-img {
        width: 400px;
        height: 360px;
    }

    

    .form-main br {
        display: none;
    }

    .form-main-text br {
        display: none;
    }


    .footer-grid {
        margin-bottom: 40px;
    }

    .footer-socials {
        margin-bottom: 30px;
    }

    .a-hero-title {
        font-size: 65px;
    } 

    .chtat-text {
        gap: 18px;
        padding-top: 10px;
    }

    .chtat-text-bg {
        height: 414px;
    }


    .mission-image {
        left: -50px;
    } 

    .principles-list {
        height: auto;
    }

    .principles-item {
        position: relative;
    }

    .principles {
        min-height: auto;
        padding: 60px 0;
    }

    .principles-bg {
        top: 170px;
    }

    .principles-title {
        margin: 0 0 40px;
    }

    .principles-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
       

    }

    .principles-item {
        font-size: 28px;
        border: 0.31px solid rgba(55, 55, 55, 1);
        padding: 20px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.005) 0%, rgba(255, 255, 255, 0.05) 100%);
    }

    .principles-item br {
        display: none;
        
    }

    .center {
        margin-top: 0;
        padding: 60px 0;
    }


    .body-lab .hero-title {
        font-size: 50px;
    }

    .body-lab .hero-text {
        font-size: 22px;
    }

    .body-lab .hero-bg {
        width: 660px;
        height: 705px;
    }

    .body-lab .about-main-title {
        font-size: 35px;
    }

    .body-lab .about-main-small {
        font-weight: 300;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0%;
        color: rgba(255, 255, 255, 0.8);
    }

    .body-lab .about-main-bottom-text {
        font-size: 18px;

    }
   
}

@media screen and (max-width: 991px) {

    .title {
        font-size: 30px;
    }


    .mobile-list {
        grid-template-columns: 1fr;
    }

    .hero-wrapper {
        padding: 50px 0;
    }

    .bg {
        top: 0;
    }

    .hero-title {
        display: none;
    }

    .hero-title-mobile {
        display: block;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: -5%;
        margin: 0 0 8px;
    }

    .span {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -5%;
        color: rgba(255, 255, 255, 0.8);
        margin: 0 0 150px;
    }

    .hero-text {
        margin-bottom: 23px;
    }


    .garant {
        margin-top: 0px;
    }

    .garant-sub {
        font-size: 30px;
    }

    .way-card {

    }

    .way-title {
        margin-bottom: 25px;
    }

    .way-text {
        font-size: 16px;
        margin: 0;
    }


    .numbers-img {
        display: none;
    }


    .news-main-card--big {
        margin-bottom: 32px;
    }

    .about-main-title br {
        display: none;
    }

    .about-main-big {
        aspect-ratio: 330/250;
        margin-bottom: 50px;
    }

    .about-main-img {
        aspect-ratio: 330/250;
    }

    .about-main-left p {
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0%;
        color: rgba(255, 255, 255, 0.8);
        margin: 0 0 40px;

    }

    .form-title {
        margin-bottom: 16px !important;
    }

    .form-main-text {
        font-size: 18px;
    }

    .form-left {
        margin-bottom: 25px;
    }

    .body-lab .form-left {
        margin-bottom: 0;
    }

    .body-lab .form-textarea {
        height: 56px;
        margin-bottom: 20px;
    }



    .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .doctor {
        margin-left: auto;
    }

    .footer-name {
        margin-bottom: 20px;
    }

    .footer-list {
        margin-bottom: 30px;
    }

    .footer-another {
        margin-top: 32px !important;
    }
    
    .wheel-item {
        height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 24px;
        color: rgba(255,255,255,0.3);
      
        transition: 0.3s;
      }
      
      .wheel-item.active {
        font-size: 32px;
        color: #fff;
        transform: scale(1.05);
      }
    
    .chtat-intro {
        font-size: 18px;
        margin: 0 0 25px;
    }

    .chtat-person {
        margin-bottom: 20px;
    }

    .chtat-text-bg {
        display: none;
    }

    .chtat-text {
        padding: 0 0 0 15px;
    }

    .chtat-text::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(225, 37, 27, 1);
    }


    .manager-name {
        font-size: 20px;
    } 

    .manager-role {
        font-size: 14px;
    }

    .manager-quote {
        font-size: 16px;
    }

    .mission {
        overflow: hidden;
        padding: 80px 0 50px;
    }

    /* .mission::after {
        display: none;
    } */

    .mission-bg {
        top: 0px;
        height: 100%;
    }

    .mission-content {
        top: 0;
        margin: 0 0 40px;
        max-width: 100%;
    }

    .mission-image {
        top: 0;
        left: 0px;
    }

    .mission-image img {
        object-fit: contain;
    }

    .gold-title {
        margin-bottom: 25px;
    }

    .order1 {
        order: 5;
    }

    .order2 {
        order: 3;
    }


    .principles-list {
        gap: 20px;
       

    }

    .principles-item {
        font-size: 20px;
    }


    .center-title {
        margin-bottom: 25px;
    }

    .center-top {
        margin-bottom: 30px;
    }

    .center-mobile {
        margin-top: 30px;
    }

    .center-mobile p {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;
        color: rgba(255, 255, 255, 0.8);
        margin: 0 0 25px;
    }

    .force-title {
        margin-bottom: 25px;
    }

    .force .numbers-num {
        font-size: 18px;
    }

    .force .numbers-text {
        font-size: 14px;
    }

    .pik {
        border: none;
    }

    .pik-row::after {
        display: none;
    }

    .pik-image {
        position: relative;
        padding-bottom: 35px;
        aspect-ratio: 510 / 250;
    }

    .pik-image::after {
        content: '';
        position: absolute;
        width: 200vw;
        height:  0.71px;
        left: -20%;
        bottom: 0;
        background: rgba(255, 255, 255, 0.2);
    }

    .pik-left {
        padding: 0;
    }

    .pik-right {
        padding: 35px 0 50px;
    }

    .body-lab .hero-wrapper {
        padding: 40px 0;
    }


    .body-lab .hero-bg {
        width: 555px;
        height: 600px;
        top: 0px;
        right: -170px;
    }

    .body-lab .way-small {
        margin-bottom: 25px;
    }

    .body-lab .about-main-title {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .body-lab .about-main-big {
        margin-bottom: 25px;
    }

    .body-lab .about-main-left {
        margin-bottom: 25px;
    }

    .body-lab .about-main-img {
        margin-bottom: 25px;
    }

    .body-lab .about-main-small {
        font-size: 16px;
    }

    .body-lab .about-main-bottom-text {
        font-size: 16px;
    }

    .contacts-title {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .contacts-link {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .mobile-list {
        margin-bottom: 40px;
    }

    .mobile-list-right {
        margin-bottom: 12px;
    }

    .mobile-nav-right p,
    .mobile-nav-left p {
        margin-bottom: 20px;
    }

    .burger {
        padding: 0 0 0 25px;
    }

    .burger::after {
        content: '';
        width: 1px;
        height: 80px;
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        display: block;
        left: 0;
        top: -33px;
    }

    .garant-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 9px; 
    }

    .way-card {
        padding: 20px 20px 0;   
    }

    .reviews-line-title {
        text-align: left;
    }

    .news-main-all {
        margin: 36px auto 0;
        
    }

    .footer-another {
        margin-top: -18px !important;
    }

    .footer-socials img {
        width: 30px;
        height: 30px;
    }

    

    .a-hero-title {
        text-align: left;
        margin-bottom: 25px;
    } 

    .chtat-intro {
        font-size: 16px;
    }

    .chtat-photo {
        margin-bottom: 20px;
    }

    .chtat-name {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .chtat-role {
        font-size: 16px;
    }

    .chtat-text p {
        font-size: 16px;
    }


    .manager-slider {
        overflow: visible;
    }

    .manager-slider .swiper-wrapper {
        display: flex;
        gap: 0;
    }

    .mission-image {
        width: 100%;
        height: 100%;
        left: 50px;
    }

    .mission-title {
        margin: 0 0 5px;
    }

    .mission-text {
        font-size: 16px;
    }

    /* .gold .numbers-text {
        font-size: 14px;
    } */

    .gold .numbers-text br {
        display: none;
    }

    .principles-item {
        font-size: 16px;
    }

    .center-text p {
        font-size: 14px;
    }

    .center-mobile p {
        font-size: 14px;
        margin: 0 0 25px;
    }

    .pik-text {
        font-size: 18px;
    }

    .body-lab .hero-title {
        font-size: 42px;
        margin-bottom: 10px;
    }

    .hero-list {
        width: 65%;
    }

    .body-lab .form-main-text {
        font-size: 16px;
    }

    .body-lab .form-main {
        margin-top: 30px;
        padding-top: 40px;
    }
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 24px;
    }

    .bg {
        top: 85px;
    }

    .hero-btn {
        max-width: 100%;
    }

    .garant-sub {
        font-size: 24px;
    }

    .garant-item img {
        width: 120px;
        flex-shrink: 0;
    }

    .garant-item p {
        font-size: 12px;
    }


    .garant::after {
        display: block;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
        top: 300px;
    }

    .way-small {
        font-size: 14px;
        padding-left: 10px;
    }

    .way-small::before {
        width: 5px;
        height: 5px;
        top: 8px;
    }

    .way-card h3 {
        font-size: 18px;
    }

    .numbers-num {
        font-size: 35px;
    }

    .numbers-sub {
        font-size: 14px;
    }

    .numbers-text {
        font-size: 12px;
    }

    .reviews-line-link {
        max-width: 100%;
    }

    .news-main-all {
        max-width: 100%;
        
    }

    .news-main-card--big .news-main-title {
        font-size: 20px;
    }

    .news-main-text {
        font-size: 14px;
    }

    .news-main-meta {
        font-size: 14px;
    }

    .news-main-card--small .news-main-title {
        font-size: 20px;
    }

    .news-main-card--small .news-main-title br {
        display: none;
    }

    .about-main-bg {
        height: 25%;
    }

    .about-main {
        padding: 50px 0 40px;
    }

    .about-main-card a {
        max-width: 100%;
    }

    .wheel {
        display: none;
    }

    .wheel-mobile {
        display: block;
    }

    .wheel-mobile-item {
        font-weight: 500;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 110.00000000000001%;
        letter-spacing: -5%;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        border: 0.31px solid rgba(55, 55, 55, 0.7);
        padding: 12px 7px;
        position: relative;
    }

    .wheel-mobile-item::after {
        content: '';
        width: 7px;
        height: 7px;
        background: rgba(225, 37, 27, 1);
        position: absolute;
        top: 0px;
        right: 0;
    }

    .scroll-section-bg {
        height: 60%;
    }

    .breadcrumbs {
        display: none;
    }

    .section-title {
        display: block;
    }

    .a-hero {
        padding-top: 0;
    }

    .a-hero-bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 55%;
        z-index: -1;
    }

    .a-hero-bg img {
        object-fit: fill;
    }


    .mission-bg {
        display: none;
    }

    .mission-mobile {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 40px;
    }

    .mission-mobile img {
        object-fit: contain;
    }

    .mission-image {
        width: 300px;
        top: -10px;
        left: 0;
        margin-left: 70px;
    }

    .mission-text {
        font-size: 14px;
    }

    .gold .numbers-item {
        padding: 15px;
    }

    .principles {
        padding: 20px 0;
    }

    .principles-bg {
        height: 100%;
        top: 20px;
    }

    .principles-title {
        margin-bottom: 25px;
    }

    .principles-list {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .principles-item {
        padding: 12px;
        text-align: center;
    }

    .center {
        padding: 40px 0 30px;
    }

    .center-link {
        max-width: 100%;
        padding: 15px;
    }

    .force {
        padding: 30px 0;
    }

    .force .numbers-item {
       padding: 10px;
    }

    .force .numbers-num {
        font-size: 16px;
    }

    .pik {
        margin-top: 30px;
    }

    .pik-title br {
        display: none;
    }


    .body-news .news-main {
        padding: 10px 0 20px;
    }


    .body-lab .bg {
        height: 90%;
    }

    .body-lab .hero-text {
        font-size: 18px;
        margin-bottom: 160px;
    }


    .hero-list {
        margin-bottom: 40px;
    }

    .hero-list li {
        font-size: 14px;
    }

    .body-lab .about-main {
        padding: 30px 0;
    }

    .body-lab .hero-bg {
        width: 450px;
        height: 500px;
        top: 110px;
        right: -150px;
    }

    .body-lab .about-main-title {
        font-size: 24px;
        color: rgba(255, 255, 255, 1);
    }

    .body-lab .form-main {
        margin-top: 0px;
        padding: 40px 0 20px;
        border-top: none;
    }

    .body-lab .gold {
        padding: 30px 0;
    }


    .contacts-title {
        display: none;
    }

    .contacts {
        padding: 0 0 30px;
    }

}

@media screen and (max-width: 390px) {
    .bg {
        top: 85px;
    }

    .garant::after {
        top: 370px;
    }

    .footer-hide-390 {
        display: none;
    }

    .footer-another {
        display: none;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
    }

    .footer-links {
        order: 2;
        margin-bottom: 37px;
    }

    .footer-socials {
        justify-content: space-between;
        order: 5;
        margin: 0;
    }

    .footer-phones {
        order: 4;
    }

    .wheel-mobile-item {
        font-size: 12px;
        padding: 12px 2px;
    }

    .mission-image {
        top: -30px;
        margin-left: 30px;
    }

    .principles-item {
        font-size: 14px;
    }

    .force .numbers-num {
        font-size: 14px;
    }

    .force .numbers-text {
        font-size: 12px;
    }

    .body-lab .hero-text {
        font-size: 16px;
    }

    .body-lab .hero-title {
        font-size: 38px;
    }
}